:host {
    display: block;
    height: 100%;
}

.group {
    height: 100%;
    display: flex;
    flex-direction: column;
    will-change: transform;
    transition: transform 0.1s ease-out, box-shadow 0.3s ease;
}

.group:hover {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.15);
}